/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo-en-tete {
    height: 1.1875rem;
    width: 3.8125rem;
    padding: 30px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul a {
    padding-top: 20px;
    margin-left: 34px;
    margin-right: 34px;
    text-decoration: none;
    color: #000000;
}

nav ul a:hover {
    border-top: 0.125rem solid var(--main-color);
    color: var(--main-color);
    padding-top: 14px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 0 50px; 
}

.search-group {
    margin-top: 30px;
}

.search-group h2 {
    margin: 0;
}

.search-group p {
    margin-top: 8px;
    margin-bottom: 0;
}

.search-bar {
    display: flex;
    margin-top: 35px;
    height: 3.0625rem;
    width: 23.5625rem;
    border: .0625rem;
    border-radius: .9375rem;
    background-color: var(--main-bg-color);
}

.search-bar label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding-left: 24px;
    padding-right: 24px;
    border: .0625rem;
}

.fa-location-dot {
    color: #000000;
}

.search-bar input {
    border: .0625rem;
    border-style: solid;
    border-color: var(--main-bg-color);
    outline: 0;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
}

.search-bar button {
    border: .0625rem;
    border-color: var(--main-color);
    background-color: var(--main-color);
    border-radius: 0 .9375rem .9375rem 0;
    color: #ffffff;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 18px;
    font-weight: 700;
}

.filters {
    display: flex;
    gap: 15px;
    padding-top: 35px;
    align-items: center;
    height: 3.125rem;
}

.filters p {
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    margin: unset;
}

.filter-btn {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 4px 19px;
    height: 2.625rem;
    border-color: var(--main-bg-color);
    border-style: solid;
    background-color: #ffffff;
    border-radius: 1.5625rem;
    color: #000000;
    font-size: 17px;
    font-weight: 700;
}

.filter-btn:focus {
    background-color: var(--filter-bg-color);
}

.fa-money-bill-wave,
.fa-person,
.fa-heart,
.fa-fire {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
}

.info-filter {
    display: flex;
    gap: 10px;
}

.info-filter p {
    display: flex;
    margin: unset;
    align-items: center;
}

.info-filter p,
.fa-info {
    margin-top: 35px;
}

.fa-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    align-items: center;
    justify-content: center;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    margin: unset;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    text-decoration: none;
    color: #000000;
}

.card a:hover {
    text-decoration: none;
}

.card img {
    object-fit: cover;
}

.euro {
    font-weight: 700;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    width: 28.4%;
    padding-bottom: 15px;
}

.hebergements-cards img {
    /* object-fit: cover; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 124px;
    width: 100%;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin-top: 4px;
    margin-bottom: 4px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.hebergements-cards .neutral-star {
    color: var(--main-bg-color);
}


.lien-plus a {
    margin-top: 30px;
    margin-bottom: unset;
    margin-right: 34px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    color: #000000;
}

.lien-plus a:hover {
    border-top: none;
    color: #000000;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activites {
    padding: 30px;
}

.activites-title {
    margin-bottom: 30px;
}

.activites-cards {
    display: flex;
    gap: 30px;
}

.activites-cards .card {
    width: 25%;
    padding: unset;
}

.activites-cards img {
    /* object-fit: cover; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 439px;
    width: 100%;
}

.activites .card-title {
    font-size: 16px;
    margin: 19px;
}

/* FOOTER */
footer {
    margin-top: 35px;
}

.footer {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    margin-left: 50px;
    margin-right: 50px;
    background-color: var(--main-bg-color);
}

.footer div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
}

.footer div h4 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: unset;
}

.footer div ul {
    list-style: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: unset;
    padding: unset;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer div a {
    margin-right: 34px;
    padding: unset;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    color: #000000;
}

.footer a:hover {
    border: none;
    padding: none;
    text-decoration: var(--main-color);
}

.margin-footer {
    height: 60.5px;
    background-color: var(--main-bg-color);
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filter-btn {
        padding: 4px 12px;
        font-size: 16px;
        /* contrairement à ce qui était présenté sur la maquette tablette, j'ai dû réduire le padding left et right pour que le texte ne se casse en pas en deux lignes et garde la même apparence que les autres boutons */
    }
    
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .hebergements-cards .card-title,
    .populaires-cards .card-title,
    .activites-cards .card-title {
        font-size: 14px;
    }

    .hebergements-cards .card-subtitle,
    .populaires-cards .card-subtitle,
    .activites-cards .card-subtitle {
        font-size: 13px;
    }
    
    .activites-cards img {
        height: 200px;
    }

    .footer div {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0;
    }

    .margin-footer {
        height: 20px;
        margin-left: 50px;
        margin-right: 50px;
        background-color: var(--main-bg-color);
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}